#header {
    background: url("../css/imgs/imgg.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 10%;
}

.naslov {
    background-color: black;
    color: #fff;
    opacity: 0.6;
    position: center;
}

.inUse {
    background-color: #e0675e;
    opacity: 0.5;
    position: center;
}

.disabled {
    pointer-events: none;
}

.turnOff {
    background-color: #f2963a;
    opacity: 0.5;
}

.tekst:before {
    background-color: #d96a0f;
    color: white;
    font-size: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #588c7e;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
    position: center;
}

th {
    background-color: #588c7e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.container {
    justify-content: center;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
    height: 100%;
    font-size: 25px;

}
#aboutus {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background-color: #ffffff;
  opacity:60%;
  padding: 20px 15px 20px 15px;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.h1{
    font-size: 50px;
}
